name: CI
on:
  push:
    branches:
      - main
      - master
    tags:
      - 'v*'
  pull_request:

jobs:
  base:
    name: Archive Base Case
    runs-on: ubuntu-latest
    env:
      REPO_NAME: ${{ github.event.repository.name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: master
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Archive
        run: tar -cvf gs4.case *.csv README LICENSE
      - name: Upload archive
        uses: actions/upload-artifact@v2
        with:
          name: case
          path: gs4.case
  dcpf:
    name: Archive DCPF
    runs-on: ubuntu-latest
    env:
      REPO_NAME: ${{ github.event.repository.name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: dcpf
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Archive
        run: tar -cvf gs4-dcpf.case *.csv README LICENSE
      - name: Upload archive
        uses: actions/upload-artifact@v2
        with:
          name: case-dcpf
          path: gs4-dcpf.case

  release:
    name: Release
    runs-on: ubuntu-latest
    if: "startsWith(github.ref, 'refs/tags/')"
    needs: [ base, dcpf ]
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: case
      - uses: actions/download-artifact@v2
        with:
          name: case-dcpf

      - name: Release
        uses: actions/create-release@v1
        id: create_release
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload base artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./gs4.case
          asset_name: gs4-${GITHUB_REF##*/}.case
          asset_content_type: application/x-tar

      - name: Upload dcpf artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./gs4-dcpf.case
          asset_name: gs4-dcpf-${GITHUB_REF##*/}.case
          asset_content_type: application/x-tar